* {
    box-sizing: border-box;
}

:root {
 --light: #4aaaa5; 
 --light-blue: #337EAA;
 --sapphire: #1D6768;
  --dark-blue: #29364F;
  --dark: #181B26;
}

body {
    background-color: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif
}

header {
    background-color: #ffffff;
    border-style: solid;
    border-color: #cccccc;
}

footer {
    background-color: #666666;
}